*{
    padding: 0%;
    margin: 0%;
}
body{                /*Background Section*/
    padding: 10px;
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;/* adjust the image to fit */
    background-attachment: scroll;
}
h1{
    background-color: rgb(0, 145, 255);
    text-align: center;
    color: aqua;
}
.st-div{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-color: red green blue yellow;
    border-width: 20px 5px 5px 5px;
    /* border-top-style: solid;
    border-bottom-style: double;
    border-right-style: dotted;
    border-left-style: dotted; */
    border-style: solid dotted double dotted;
}
#se-st-div{
    margin-top: 10px;
    padding: 5px;
    color: white;
    font-size: large;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: 1px;
    border-style: solid;
    border-color: rgb(0, 255, 89);
    border-radius: 5px;
    border-width: 20px 5px 5px 5px;
    border-style: solid dotted double dotted;
}
#div-1{

    background-color: lightblue;
    padding: 10px;
    margin-top: 10px;
    border-style: solid;
    border-color: red green blue yellow;
    border-radius: 5px;
    border-width: 20px 5px 5px 5px;
    border-style: solid dotted double dotted;
}
#div-2{
    padding: 10px;
    margin-top: 10px;
    background-color: green;
    opacity: 0.9;
    border-style: solid;
    border-color: rgb(255, 0, 21);
    border-radius: 5px;
    border-width: 20px 5px 5px 5px;
    border-style: solid dotted double dotted;
}
#id1{
    color: aliceblue;
    font-size: large;
    font-weight:bold;
}
ul{

    color: aliceblue;
    font-size: large;
    font-weight:bold;
}
p{
    text-transform: none;
    text-decoration: double;
    font-size: medium;
    font-weight: bold;
}